{% extends "base.html" %}
<title>PaintApp-JS</title>
{% block content %}
<head>
<script src="/static/saveimage.db.js"></script>
<script src="/static/script.js"></script>
<script src="/static/load.js"></script>
<script src="/static/jquery.min.js"></script>
</head>
<body onload="mycan(event)" onkeydown="undoredo(event)">
<input type="submit" name="rect" value="rectangle" onclick="settool('rectangle')">
<input type="submit" name="filledcircle" value="filledcircle" onclick="settool('filledcircle')">
<input type="submit" name="circle" value="circle" onclick="settool('circle')">
<input type="submit" name="fillrect" value="fillrectangle" onclick="settool('fillrectangle')">
<input type="submit" name="line" value="line" onclick="settool('line')">
<input type="submit" name="text" value="text" onclick="settool('text')">
<input type="text" name="text" id="textbox">
<input type="submit" name="None" value="None" onclick="settool('None')">
<input type="submit" name="eraser" value="eraser" onclick="settool('eraser')">
<input type="submit" name="pen" value="pen" onclick="settool('pen')">
<input type="submit" value="clearscreen" onclick="clearscreen()">
<input type="submit" value="download" onclick="save()">
<input type="submit" value="preview" onclick="preview()">
<input type="submit" value="undo" onclick="undo()">
<input type="submit" value="redo" onclick="redo()">
<div>
<input type="submit" value="object list save" onclick="ollist(0)">
<input type="submit" value="save as image to db" onclick="imagedb(0)">
<input type="submit" value="load data from server" onclick="loaddata(document.getElementById('savename'))">
<input type="text" name="savename" id="savename" onkeyup="suggest(this)" required> <span id="suggestion">suggestions</span></div>
<input type="range" autocomplete="on" min="0.5" max="100" value="2" step="0.5" onchange="setsize(this.value)" />
<span id="sizeofbrush">2</span>
<p id="tooldisplay">No Tool Selected</p>
<canvas width="500" height="500" id="a" style="border:1px solid #000000; cursor:crosshair;" onmousemove="moveactions(event)"  onmousedown="setstart(event)" onmouseup="setend(event)"></canvas>
<img id="loader" src="static/ajax-loader.gif" width="200px" height="200px" style="display:None;">
<img id="colormap" src="static/colormap.gif"
width="220" height="277" style="display:None;">

<div><canvas style="display:None;"  id="grade1sele" width="245" height="250" onclick="setgrad(this,event,'grade1')"></canvas>
<canvas id="grade2sele" style="display:None;" width="245" height="250" onclick="setgrad(this,event,'grade2')"></canvas>
<canvas id="grade1" width="20" value="black" height="20" style="border:1px solid;" onclick="show('grade1sele')">black</canvas>
<canvas id="grade2" value="white" width="20" height="20" style="border:1px solid;" onclick="show('grade2sele')">white</canvas>
<span id="selectedcolor">black</span>
</div>
<input type="submit" value="usegradient" onclick="setgradient()">
</body>
<span id="browseralert" style="color:red; display:None">use chrome/chromium for better experience</span>
{% endblock %}
